@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{
    <div class="container-fluid">
        <div class="container" id="about">
            <span>@Umbraco.Content(1058).companyName;</span><br />
            <span>@Umbraco.Content(1058).companyEmail</span><br />
            <span>@Umbraco.Content(1058).companyAddress</span><br />
            <span>@Umbraco.Content(1058).companyPhone</span><br />
        </div>

    </div>

    }